<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyyMMdd HH:mm:ss.SSS}] [%-4level] [%thread] [%logger{36}] Line:%-3L - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 日志级别 DEBUG>INFO>WARN>ERROR DEBUG 一般是开发用. 生产环境一般是INFO-->
    <!-- 将org.springstudy.repository 打印为 debug-->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springstudy.repository" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>